.gifsContainer {
    display: flex;
    flex: 1;
    justify-content: center;
}

.searchContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 10px;
}

.searchInput {
    width: 50%;
}